POSTGRES_DB=거래플랜
POSTGRES_USER=sm_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432
API_PORT=18080
JWT_ISSUER=거래플랜
JWT_AUDIENCE=거래플랜Desktop
JWT_SIGNING_KEY=거래플랜_ChangeThisJwtSigningKeyToALongRandomValue1234
JWT_EXPIRATION_MINUTES=480
