POSTGRES_DB=salesmaster
POSTGRES_USER=sm_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432
API_PORT=18080
JWT_ISSUER=SalesMaster
JWT_AUDIENCE=SalesMasterDesktop
JWT_SIGNING_KEY=ChangeThisJwtSigningKeyToALongRandomValue1234
JWT_EXPIRATION_MINUTES=480
